router bgp {{ bgp_asn }}
 bgp router-id {{ router_id }}
{% for rr in rr_neighbors %}
 neighbor {{ rr.address }}
  description {{ rr.description }}
  remote-as {{ bgp_asn }}
  update-source Loopback0
{% for af in address_families %}
  address-family {{ af }}
  !
{% endfor %}
 !
{% endfor %}
!
