router bgp {{ bgp_as }}
 bgp router-id {{ router_id }}
{% if bgp_log_neighbor_changes_detail %}
 bgp log neighbor changes detail
{% endif %}
{% for af in bgp_address_families %}
 address-family {{ af }} unicast
 !
{% endfor %}
{% for rr in route_reflectors %}
 neighbor {{ rr.ipv4 }}
  remote-as {{ bgp_as }}
  description {{ rr.name }}
  update-source {{ bgp_update_source }}
{% for af in bgp_address_families %}
  address-family {{ af }} unicast
  !
{% endfor %}
 !
{% endfor %}
!
